<div class="container"></div>
    <img src="https://http.cat/404" alt="cat404" class="mx-auto d-block">
    <div class="text-uppercase text-center text-danger h1">
        <br>
        <p>{{titulo}}</p>
        <p>{{description}}</p>
    </div>
</div>