<section class='card'>
    <div class='card-body'>
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            ullam, et accusantium aut placeat nobis architecto ut? Numquam animi
            veniam maxime impedit fuga possimus reprehenderit nobis. Adipisci
            dolorem earum amet!</p>
    </div>
</section>
