<div class='jumbotron mt-4'>
    <h1 class='display-4'> Inicio</h1>
</div>
<hr class='my-4' />
<div class='container h-100'>
    <div class='row h-100'>
        <div class='col-md-4 my-auto'>
            <form
                onsubmit="return addMessage(this)" 
                class='card card-body rounded-0'
            >
                <h1 class='h3 mb-5'>Chat</h1>
                <input
                    type='email'
                    id='user'
                    name='user'
                    placeholder='ejemplo@ejemplo.com'
                    class='form-control rounded-0 mb-3'
                />
                <textarea
                    name='texto'
                    id='texto'
                    rows='2'
                    class='form-control rounded-0 mb-3'
                    placeholder='Tu mensaje'
                ></textarea>
                <button class='btn btn-dark rounded-0'>Enviar</button>
            </form>
        </div>
        <div class='col-md-8'>
            <div id='notes'></div>
        </div>
    </div>
</div>

