<h1>Producto encontrado</h1>
<div class='container'>
    {{#each unico}}
    <div class="tarjeta">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{this.thumbnails}}">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.price}}.</p>
            </div>
    {{/each}}
    </div>
</div>